<form class="search-form" id="search-form">
    <input
    type="text"
    name="query"
    autocomplete="off"
    placeholder="Search images..."
    />
<button type="reset">Clear Page</button>
</form>

<ul class="gallery"></ul>
<button type="button">Load more</button>